<%- include('../layouts/resources/css.ejs'); -%>

    <main id="authForm">
        <div class="auth_layout">
            <div class="container authForm_container h-100">
                <div class="d-flex align-items-center justify-content-center h-100 col-10">
                    <div class="auth_body">
                        <div class="auth_body_container row">
                            <div class="col-second auth_body_left col-6 order-2">
                                <div class="d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="auth_body_left_container">
                                        <h2>Đăng Nhập</h2>
                                        <h3>Đăng nhập với tài khoản mạng xã hội</h3>
                                        <div class="social_login">
                                            <a href="">
                                                <i class="fab fa-google"></i>
                                            </a>
                                            <a href="">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                            <a href="">
                                                <i class="fab fa-discord"></i>
                                            </a>
                                            <a href="">
                                                <i class="fab fa-steam"></i>
                                            </a>
                                        </div>
                                        <form action="" class="form_auth">
                                            <div class="col-12 my-4">
                                                <div class="input-group">
                                                    <label for="username" class="input-group-text"><i
                                                            class="fas fa-user-circle fa-fw"></i></label>
                                                    <input id="username" type="text" class="form-control"
                                                        placeholder="Enter Username">
                                                </div>
                                            </div>
                                            <div class="col-12 my-3">
                                                <div class="input-group">
                                                    <label for="password" class="input-group-text"><i
                                                            class="fas fa-lock-alt fa-fw"></i></label>
                                                    <input id="password" type="password"
                                                        class="form-control passwordType" placeholder="Enter Username">
                                                    <!-- SHOW HIDE PASSWORD -->
                                                    <span class="input-group-text show_hide_password"
                                                        id="basic-addon"><i class="fas fa-eye"></i></span>
                                                </div>
                                            </div>
                                            <!-- BUTTON SUBMIT LOGIN -->
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary create-btn">Đăng
                                                    Nhập</button>
                                            </div>
                                        </form>
                                        <!-- FORGET PASSWORD -->
                                        <div class="forget_password my-2">
                                            <a href="#">Quên mật khẩu?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-first auth_body_right col-6 order-1">
                                <div class="auth_body_right_container d-flex justify-content-center">
                                    <div class="">
                                        <a href="/"><img src="/client/images/Logo-Gamikey-1024x576.png.webp" alt=""></a>
                                        <h2>GAMIKEY, Mua Key Là Rẻ</h2>
                                        <div class="desciption">Lần đầu tiên ở đây? Tạo tài khoản của bạn để mua sắm
                                            trên Muakey.com</div>
                                        <a href="/register" class="primary-btn create-btn">Tạo Tài Khoản</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="auth_footer"></div>
                </div>
            </div>
        </div>
    </main>

<%- include('../layouts/resources/javascript.ejs'); -%>