<%- include('../../partials/header'); -%>

    <!-- ************************* Main ************************* -->
    <main>
        <div class="container profile_user my-5">
            <div class="user-items">
                <div class="user-left">
                    <div class="user_left__items">
                        <div class="user_left__item ">
                            <a href="/userProfile">
                                <div>
                                    <i class="fas fa-user"></i>
                                </div>
                                <p>Tài khoản</p>
                            </a>
                        </div>
                        <div class="user_left__item ">
                            <a href="/billUserProfile">
                                <div>
                                    <i class="fas fa-shopping-cart"></i>
                                </div>
                                <p>Lịch sử đơn hàng</p>
                            </a>
                        </div>

                        <div class="user_left__item active">
                            <a href="/passwordProfile">
                                <div>
                                    <i class="fas fa-user-lock"></i>
                                </div>
                                <p>Mật khẩu và bảo mật</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="user-right">
                    <div class="changed-user">
                        <form action="/userProfile/changePassword?_method=PATCH" method="POST">
                            <h3>Mật Khẩu</h3>
                            <div>
                                <input type="text" id="" class="form-control" placeholder="Mật Khẩu Cũ"
                                    name="oldPassword" />
                            </div>
                            <div class="my-3">
                                <input type="text" id="" class="form-control" placeholder="Mật Khẩu Mới"
                                    name="newPassword" />
                            </div>
                            <div>
                                <input type="text" id="" class="form-control" placeholder="Nhập Lại Mật Khẩu Mới"
                                    name="reNewPassword" />
                            </div>
                            <button id="changedUserProdile" class="btnUser btn btn-primary my-3">
                                Lưu thay đổi
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../../partials/footer'); -%>
        <script>
            let success = '<%= success %>';
            if (success != '') {
                toastr.success(success, 'Thành Công');
            }
            let errors = '<%= errors %>';
            if (errors != '') {
                toastr.error(errors, 'Lỗi');
            }

        </script>