<section class="section-statistics">
    <div class="section-statistics_items col-12 d-flex flex-wrap">
        <div class="section-statistics_item mb-5 mb-lg-0 col-6 col-lg-3">
            <div class="col-12 d-flex align-items-center">
                <div class="col-6 section-statistics_item_icon">
                    <i class="fas fa-store-alt"></i>
                </div>
                <div class="col-6">
                    <h1 class="countup"><span class="js-countup">900</span></h1>
                    <p class="section-statistics_item_text">CTV</p>
                </div>
            </div>
        </div>
        <div class="section-statistics_item mb-5 mb-lg-0 col-6 col-lg-3">
            <div class="col-12 d-flex align-items-center">
                <div class="col-6 section-statistics_item_icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="col-6">
                    <h1 class="countup"><span class="js-countup">9998</span></h1>
                    <p class="section-statistics_item_text">Đơn Hàng</p>
                </div>
            </div>
        </div>
        <div class="section-statistics_item mb-5 mb-lg-0 col-6 col-lg-3">
            <div class="col-12 d-flex align-items-center">
                <div class="col-6 section-statistics_item_icon">
                    <i class="fas fa-comment-alt-dots"></i>
                </div>
                <div class="col-6">
                    <h1 class="countup"><span class="js-countup">543298</span></h1>
                    <p class="section-statistics_item_text">Đánh Giá</p>
                </div>
            </div>
        </div>
        <div class="section-statistics_item mb-5 mb-lg-0 col-6 col-lg-3">
            <div class="col-12 d-flex align-items-center">
                <div class="col-6 section-statistics_item_icon">
                    <i class="fas fa-glass-cheers"></i>
                </div>
                <div class="col-6">
                    <h1 class="countup"><span class="js-countup">10 </span> năm</h1>
                    <p class="section-statistics_item_text">Hoạt Động</p>
                </div>
            </div>
        </div>
    </div>
</section>