<section class="section-banner">
    <div class="col-12 d-flex section-banner_items flex-wrap">
        <% getBestProductPosition.forEach((item, index)=> { %>
            <div class="col-12 col-sm-6 col-lg-3 section-banner_item">
                <a href="/product/<%=item.slug%>" class="section-banner_anchor">
                    <img loading="lazy" class="section-banner_img" src="<%=item.image%>" alt="" />
                    <div class="section-banner_arrowNext">
                        <i class="far fa-long-arrow-alt-right fa-fw"></i>
                    </div>
                </a>
            </div>
            <% }); %>
    </div>
</section>