<!-- JS JQUERY -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- JS JQUERY UI -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
    integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
<!-- JS jqueryui-touch-punch -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<!-- JS gsap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- JS Bootstrap 5 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<!-- JS SWIPPER -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- JS OWL CAROUSEL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- JS COUNTUP -->
<script src="/client/js/countup.js"></script>
<!-- JS PRICE RANGE -->
<script src="/client/js/rangePrice.js"></script>
<!-- JS RATE STAR -->
<script src="/client/js/jquery.star-rating.js"></script>
<!-- JS SAKURA -->
<script src="/client/js/sakura.min.js"></script>
<!-- JS MAIN -->
<script src="/client/js/script.js"></script>
<!-- TOASTR JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    var sakura = new Sakura('body');
</script>

<script>
    $(document).ready(function () {
        $('body').on('click', '#logoutBTN', function (e) {
            e.preventDefault();
            $('#logoutForm').submit();
        })
        // ? Format .product_price to currency Vietnamese Dong
        function formarPrice(attr) {
            $(attr).each(function () {
                var price = $(this).text();
                price = parseInt(price);
                var formatPrice = price.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
                $(this).text(formatPrice);
            });
        }
        formarPrice('.product_price');
        formarPrice('#priceProductDetail');
        // ? Select where have attribute limitText
        $('[limitText]').each(function () {
            var limit = $(this).attr('limitText');
            var text = $(this).text().trim();
            if (text.length > limit) {
                text = text.split('').slice(0, limit).join('') + '...';
                $(this).text(text);
            }
        });

        // ? Show mini cart when click on button add to cart
        function handleMiniCart() {
            $('.mini_cart').addClass('active');
            $('.overlay').addClass('active');
            // ? turn off overlay and minicart when click on overlay
            $('.overlay').on('click', function () {
                $('.mini_cart').removeClass('active');
                $('.overlay').removeClass('active');
            });
            // ? turn off overlay and minicart when click on close button
            $('.close_mini_cart').on('click', function () {
                $('.mini_cart').removeClass('active');
                $('.overlay').addClass('active');
            });
        }

        renderMiniCart(null, null);
        // ? Render mini cart
        function renderMiniCart(resData, resTotal) {
            if (resData != null && resTotal != null) {
                let html = ' ';
                $('.mini_cart_subtotal').text('0');
                $('.mini_cart_wrapper').html(' ');
                resData.forEach(item => {
                    html += `
                    <li>
                        <div class="mini_cart_img">
                            <a href="/product/${item.slug}">
                                <img src="${item.image}" alt="">
                            </a>
                            <a class="mini_cart_mini_icon_remove_product" href="/removeMiniCart/${item.id}">
                                <i class="fas fa-minus-circle" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="mini_cart_text">
                            <a class="mini_cart_title_anchor" href="">${item.name}</a>
                            <p class="mini_cart_price">${item.price}</p>
                            <small class="mini_cart_qty">Số Lượng: ${item.quantity}</small>
                        </div>
                    </li>`;

                });
                $('.mini_cart_wrapper').html(html);
                $('.mini_cart_subtotal').text(resTotal);
                $('.sub_total').text(resTotal);
                formarPrice('.mini_cart_price');
                formarPrice('.mini_cart_subtotal');
                formarPrice('.sub_total');
            } else {
                $('.mini_cart_wrapper').html(' ');
                $('.mini_cart_subtotal').text('0');
                let html = ' ';
                $.ajax({
                    url: '/getMiniCart',
                    type: 'get',
                    success: function (response) {
                        if (response.data.length > 0) {
                            response.data.forEach(item => {
                                html += `
                           <li>
                                <div class="mini_cart_img">
                                    <a href="/product/${item.slug}">
                                        <img src="${item.image}" alt="">
                                    </a>
                                    <a class="mini_cart_mini_icon_remove_product" href="/removeMiniCart/${item.id}">
                                        <i class="fas fa-minus-circle" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="mini_cart_text">
                                    <a class="mini_cart_title_anchor" href="">${item.name}</a>
                                    <p class="mini_cart_price">${item.price}</p>
                                    <small class="mini_cart_qty">Số Lượng: ${item.quantity}</small>
                                </div>
                            </li>`;
                            });
                            $('.mini_cart_wrapper').html(html);
                            $('.mini_cart_subtotal').text(response.total);
                            $('.sub_total').text(response.total);
                            formarPrice('.mini_cart_price');
                            formarPrice('.mini_cart_subtotal');
                            formarPrice('.sub_total');
                        } else {
                            $('.mini_cart_wrapper').html('<h6 class="text-center my-3">Không có sản phẩm nào trong giỏ hàng</h6>');
                            $('.mini_cart_subtotal').text('0');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            }

        }
        // ? Add to cart
        $('#btn_addToCart').on('click', function (e) {
            e.preventDefault();
            let data = $(this).closest('form').serialize();
            $.ajax({
                url: '/addToCart',
                type: 'get',
                data: data,
                beforeSend: function () {
                    $('#btn_addToCart i').removeClass('fa-wallet').addClass('fa-spinner');
                },
                success: function (response) {
                    toastr.success(response.message, 'Thành Công');
                    renderMiniCart(response.data, response.total, response.checked);
                },
                error: function (xhr, status, error) {
                    toastr.error('Đã xảy ra lỗi, vui lòng thử lại sau', 'Thất Bại');
                },
                complete: function () {
                    $('#btn_addToCart i').removeClass('fa-spinner').addClass('fa-wallet');
                    handleMiniCart();
                }
            });

        });

        // ? Delete product in mini cart
        $('body').on('click', '.mini_cart_mini_icon_remove_product', function (e) {
            e.preventDefault();
            let url = $(this).attr('href');
            $.ajax({
                url: url,
                type: 'get',
                success: function (response) {
                    toastr.success(response.message, 'Thành Công');
                    renderMiniCart(response.data, response.total);

                },
                error: function (xhr, status, error) {
                    toastr.error('Đã xảy ra lỗi, vui lòng thử lại sau', 'Thất Bại');
                }
            });
        });
        // ? Delete product in main cart
        $('body').on('click', '.cart_container_item_remove', function (e) {
            e.preventDefault();
            let id = $(this).data('id');
            $.ajax({
                url: '/removeMiniCart/id'.replace('id', id),
                type: 'get',
                data: { id: id },
                success: function (response) {
                    renderMiniCart(response.data, response.total);
                    toastr.success(response.message, 'Thành Công');
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        });
        // ? Decrease quantity product in main cart
        $('.cart_product_qty').on('click', '.decreQty', function () {
            let id = $(this).data('id');
            // Get quantity of cart_container_item_qty
            let quantity = $(this).closest('.cart_product_qty').find('.cart_container_item_qty').val() - 1;
            // ? sET quantity to input
            $(this).closest('.cart_product_qty').find('.cart_container_item_qty').val(quantity);
            if (quantity < 1) {
                quantity = 1;
                $(this).closest('.cart_product_qty').find('.cart_container_item_qty').val(quantity);
                toastr.error('Số lượng sản phẩm không thể nhỏ hơn 1', 'Thất Bại');
                return;
            }
            $.ajax({
                url: '/decreaseQty',
                type: 'get',
                data: { id: id, quantity: quantity },
                success: function (response) {
                    renderMiniCart(response.data, response.total);
                    toastr.success(response.message, 'Thành Công');
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        })
        // ? Increase quantity product in main cart
        $('.cart_product_qty').on('click', '.increQty', function () {
            let id = $(this).data('id');
            // Get quantity of cart_container_item_qty
            let quantity = parseInt($(this).closest('.cart_product_qty').find('.cart_container_item_qty').val()) + 1;
            // ? sET quantity to input
            $(this).closest('.cart_product_qty').find('.cart_container_item_qty').val(quantity);
            if (quantity > 10) {
                quantity = 10;
                $(this).closest('.cart_product_qty').find('.cart_container_item_qty').val(quantity);
                toastr.error('Số lượng sản phẩm không thể lớn hơn 10', 'Thất Bại');
                return;
            }
            $.ajax({
                url: '/increaseQty',
                type: 'get',
                data: { id: id, quantity: quantity },
                success: function (response) {
                    renderMiniCart(response.data, response.total);
                    toastr.success(response.message, 'Thành Công');
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        })
        // ? Delete All Cart
        $('#removeAllCart').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                url: '/removeAllCart',
                type: 'get',
                success: function (response) {
                    renderMiniCart(response.data, response.total);
                    toastr.success(response.message, 'Thành Công');
                    // ? Timeout 2s and reload page
                    setTimeout(() => {
                        window.location.reload();
                    }, 2000);
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        })
    })

</script>